<%- include("header") -%>

<div class="box" id="heading">

  <h1>Welcome to about story line</h1>
  <p>in one thousan words i will like to tell you our the this website!</p>
  <h2>Grab a chair and make yourself comfortable to be able to read the he following line. Thanks.</h2>

</div>


<%- include("footer") -%>
